.main-container {
  padding-top: 150px;
}

.main-container:hover .movie-img {
  opacity: 0.4;
}
.main-container .movie-img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.logo {
  position: absolute;
  width: 200px;
  height: 125px;
  margin-top: 5px;
  z-index: 1001;
}
