.main-container {
  padding-top: 150px;
}

.main-container:hover .movie-img {
  opacity: 0.4;
}
.main-container .movie-img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}
.up-container {
  margin-top: -50px;
}

@media (max-width: 992px) {
  .main-container {
    padding-top: 100px;
  }
  .up-container {
    margin-top: 0px;
  }
}
@media (max-width: 576px) {
  .main-container {
    padding-top: 30px;
  }
}
